@page
@model EFSpike.Invoicing.Views.Invoice.Create

@{
    ViewData["Title"] = "New Invoice";
}

<h1>Create</h1>
<div class="row">
    <div class="col-md-4" id="invoiceApp">
        <form method="post">
            <div class="form-group">
                <label asp-for="Invoice.CustomerNumber" class="control-label"></label>
                <input asp-for="Invoice.CustomerNumber" class="form-control"/>
                <span asp-validation-for="Invoice.CustomerNumber" class="text-danger"></span>
            </div>
            <table>
                <thead>
                <tr>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item, index) in invoiceItems" :key="index">
                    <td>
                        <input type="text" v-model="item.Description" :name="`Items[${index}].Description`">
                    </td>
                    <td>
                        <input type="number" v-model="item.Quantity" :name="`Items[${index}].Quantity`">
                    </td>
                    <td>
                        <input type="number" v-model="item.UnitPrice" :name="`Items[${index}].Price`">
                    </td>
                    <td>
                        <button @@click="(event) => removeItem(event, index)">Remove</button>
                    </td>
                </tr>
                
                </tbody>
            </table>
            <div class="form-group">
                <button @@click="addItem" class="btn">Add Item</button>
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="/js/invoice.js"></script>
    <script>
    
    var invoiceItems = @System.Text.Json.JsonSerializer.Serialize(Model.Invoice.Items);
    
    createInvoice(invoiceItems);
    </script>
}